.wrapper-right-side{
  border: 1px solid #cccbcc;
  min-height: calc(100vh - 261px);
  max-height: calc(100vh - 261px);
  -moz-box-shadow: 0 0 5px 3px #88888847;
  -webkit-box-shadow: 0 0 5px 3px #88888847;
  box-shadow: 0 0 5px 3px #88888847;
  padding-top: 17px;
  width: 24%;
  margin-left: 1%;
}
.wrapper-right-side p {
  padding: 5px 17px;
  margin-bottom: 0;
}
.wrapper-right-side p:hover{
  cursor: pointer;
  background-color: #e2e1e2
}
.wrapper-right-side .fa-ban{
  font-size: 19px;
  margin-right: 3px;
  vertical-align: bottom;
  color: red;
}
.wrapper-right-side .fa-check{
  font-size: 19px;
  vertical-align: bottom;
  color: green;
}
.active {
  background-color: #e2e1e2;
}

