<div class="col md-12 wrapper-footer">
  <mat-tab-group [@.disabled]="true">
    <mat-tab label="Обзор дел">
      <div class="col-md-12 search">
        <span>Поиск:</span>
        <input type="text">
      </div>
      <div class="col-md-8 my-table table-responsive">
        <table class="table-striped">
          <tr>
            <td>274485973645</td>
            <td>Куренков В.А.</td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
            <td>
              10.03.18 17:04
            </td>
          </tr>
          <tr>
            <td>274485973645</td>
            <td>Куренков В.А.</td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
            <td>
              10.03.18 17:04
            </td>
          </tr>
          <tr>
            <td>274485973645</td>
            <td>Куренков В.А.</td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
            <td>
              10.03.18 17:04
            </td>
          </tr>
          <tr>
            <td>274485973645</td>
            <td>Куренков В.А.</td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
            <td>
              10.03.18 17:04
            </td>
          </tr>
          <tr>
            <td>274485973645</td>
            <td>Куренков В.А.</td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
            <td>
              10.03.18 17:04
            </td>
          </tr>          <tr>
          <td>274485973645</td>
          <td>Куренков В.А.</td>
          <td>
            <i class="fa fa-ban" aria-hidden="true"></i>
            <i class="fa fa-ban" aria-hidden="true"></i>
            <i class="fa fa-ban" aria-hidden="true"></i>
          </td>
          <td>
            10.03.18 17:04
          </td>
        </tr>
          <tr>
            <td>274485973645</td>
            <td>Куренков В.А.</td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
            <td>
              10.03.18 17:04
            </td>
          </tr>

        </table>
      </div>
      <div class="col-md-4 right-table table-responsive">
        <table class="table-striped">
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
          <tr>
            <td>10.03.18 17:04</td>
            <td>Регистрация дела</td>
            <td>
              Куренков В.А.
            </td>
          </tr>
        </table>

      </div>
    </mat-tab>
    <mat-tab label="Работа с курьером">Работа с курьером</mat-tab>
    <mat-tab label="Служебная переписка">Служебная переписка</mat-tab>
    <mat-tab label="Дела от аварийных комиссаров">Дела от аварийных комиссаров</mat-tab>
    <mat-tab label="Проверка ОСАГО">Проверка ОСАГО</mat-tab>
  </mat-tab-group>
</div>
