<div class="col-md-3 wrapper">
  <mat-tab-group [@.disabled]="true">
    <div class="col-md-12 ">
      <!--TAB ВОДИТЕЛЬ START-->
      <mat-tab label="Водитель" class="tripl">
        <div class="col-md-12 tab-body">
          <div class="row">
            <div class="col-md-12 check">
              <input type="checkbox">
              <span>Транспортным средством управлял собственник</span>
            </div>
          </div>
          <div class="row">
            <span style="font-weight: bold;">Персональные данные:</span>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Имя:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Фамилия:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Отчество:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Паспорт серия номер:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Кем выдан:</span>
            </div>
            <div class="col-md-7">
              <textarea></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Когда выдан:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата рождения:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Место рождения:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Адрес:</span>
            </div>
            <div class="col-md-7">
              <textarea></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата выдачи ВУ:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Кем выдан ВУ:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Номер ВУ:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Страховой полис номер:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Страховая компания:</span>
            </div>
            <div class="col-md-7">
              <select>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Адрес страховой:</span>
            </div>
            <div class="col-md-7">
              <textarea></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Страховой полис годен до:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>E-mail:</span>
            </div>
            <div class="col-md-7">
              <input type="email">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Номер телефона 1:</span>
            </div>
            <div class="col-md-7">
              <input type="tel">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Номер телефона 2:</span>
            </div>
            <div class="col-md-7">
              <input type="tel">
            </div>
          </div>
        </div>
      </mat-tab>
      <!--TAB ВОДИТЕЛЬ END-->

      <!--TAB АВТОМОБИЛЬ START-->
      <mat-tab label="Автомобиль" class="tripl" >
        <div class="col-md-12 tab-body">
          <div class="row">
            <span style="font-weight: bold;">Автомобиль:</span>
            <div class="row">
              <div class="col-md-5">
                <span>Тип ТС:</span>
              </div>
              <div class="col-md-7">
                <select>
                  <option>Пункт 1</option>
                  <option>Пункт 2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Гос. номер:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
            <div class="col-md-5">
              <span>Марка:</span>
            </div>
            <div class="col-md-7">
              <select>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
              </select>
            </div>
          </div>
            <div class="row">
              <div class="col-md-5">
                <span>Модель:</span>
              </div>
              <div class="col-md-7">
                <select>
                  <option>Пункт 1</option>
                  <option>Пункт 2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Страна производитель:</span>
              </div>
              <div class="col-md-7">
                <select>
                  <option>Пункт 1</option>
                  <option>Пункт 2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Год выпуска ТС:</span>
              </div>
              <div class="col-md-7">
                <input type="number">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Дата начала эксплуатации:</span>
              </div>
              <div class="col-md-7">
                <input type="date">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Год выпуска кузова:</span>
              </div>
              <div class="col-md-7">
                <input type="number">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Номер кузова(шасси):</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Номер рамы:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Номер ПТС:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Дата выдачи ПТС:</span>
              </div>
              <div class="col-md-7">
                <input type="date">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Номер СоРТС:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Дата выдачи СоРТС:</span>
              </div>
              <div class="col-md-7">
                <input type="date">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>VIN:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Мощность(л.с):</span>
              </div>
              <div class="col-md-7">
                <input type="number">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Цвет:</span>
              </div>
              <div class="col-md-7">
                <select>
                  <option>Пункт 1</option>
                  <option>Пункт 2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Тип ЛКП:</span>
              </div>
              <div class="col-md-7">
                <select>
                  <option>Пункт 1</option>
                  <option>Пункт 2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Пробег:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Номер двигателя:</span>
              </div>
              <div class="col-md-7">
                <input type="text">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ОСАГО" class="tripl">
        <div class="col-md-12 tab-body">
          <div class="col-md-4">
            <select style="background-color: buttonface;border: 1px solid #b7b3b3">
              <option>Test1</option>
              <option>Test2</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="text">
          </div>
          <div class="row" style="margin-top: 50px;">
            <div class="col-md-5">
              <span>Дата заключения:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата начала действия:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата окончания:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Страховая компания:</span>
            </div>
            <div class="col-md-7">
              <select>
                <option>Test1</option>
                <option>Test2</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Адрес:</span>
            </div>
            <div class="col-md-7">
              <textarea  id="" cols="20" rows="5"></textarea>
            </div>
          </div>
        </div>
      </mat-tab>
      <!--TAB АВТОМОБИЛЬ END-->
    </div>
    <div class="col-md-12">
      <mat-tab label="Сведенья о ДТП">
        <div class="col-md-12 tab-body">
          <div class="row">
            <div class="col-md-5">
              <span>Адрес:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата ДТП:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Стоимость уступаемых:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Цессионарий:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Коментарий:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Собственник">
        <div class="col-md-12 tab-body">
          <div class="row">
            <div style="padding: 0;" class="col-md-12 check">
              <div class="col-md-12">
                <input type="radio" id="contactChoice1"
                       name="contact" value="phys">
                <label style="font-weight: normal;" for="contactChoice1">Физическое лицо</label>
              </div>
              <div class="col-md-12">
                <input type="radio" id="contactChoice2"
                       name="contact" value="urid">
                <label style="font-weight: normal;" for="contactChoice2">Юридическое лицо</label>
              </div>
            </div>
          </div>
          <div class="row">
            <span style="font-weight: bold;">Персональные данные:</span>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Имя:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Фамилия:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Отчество:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Паспорт серия номер:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Кем выдан:</span>
            </div>
            <div class="col-md-7">
              <textarea></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Когда выдан:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата рождения:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Место рождения:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Адрес:</span>
            </div>
            <div class="col-md-7">
              <textarea></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Дата выдачи ВУ:</span>
            </div>
            <div class="col-md-7">
              <input type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Кем выдан ВУ:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Номер ВУ:</span>
            </div>
            <div class="col-md-7">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>E-mail:</span>
            </div>
            <div class="col-md-7">
              <input type="email">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Номер телефона 1:</span>
            </div>
            <div class="col-md-7">
              <input type="tel">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Номер телефона 2:</span>
            </div>
            <div class="col-md-7">
              <input type="tel">
            </div>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
  <div class="col-md-12 left-side-footer">
    <span style="padding: 3px 9px;border-right: 1px solid #b7b3b3;">Участники ДТП</span>
    <div class="col-md-12 footer-body">
      <div class="row">
        <span style="font-weight: bold;">Куренков В.А( Пострадавший )</span>
        <span>MAZDA MPV</span>
        <span>Водитель: Куренков В.А </span>
      </div>
      <div class="row">
        <span style="font-weight: bold;">Куренков В.А( Виновник )</span>
        <span>MAZDA MPV</span>
        <span>Водитель: Куренков В.А </span>
      </div>
    </div>
    <div class="col-md-12 controls">
      <button>Добавить</button>
      <select>
        <option>Виновник</option>
        <option>Пострадавший</option>
      </select>
      <button>Удалить</button>
    </div>
  </div>
</div>
